<div id="pre-footer">
    	<div class="container">
        <div class="col-md-4">
            	<h4>Random Fact About Me</h4>
                {% for post in site.categories.facts limit:1 %}
     
        <blockquote id="fact">{{ post.content }}</blockquote>
      
			{% endfor %}
            </div>
        	<div class="col-md-4">
            	<h4>Latest Tweets</h4>
                <a class="twitter-timeline" href="https://twitter.com/MrJHarrelson" data-widget-id="629824751842668544" data-chrome="noborders transparent" data-tweet-limit="2">Tweets by @MrJHarrelson</a>

            </div>
            <div class="col-md-4">
            	<h4>Useful Links</h4>
                <ul>
                	<li><a href="http://www.moz.com" title="Moz" target="_blank">Moz</a> - My SEO Source</li>
                    <li><a href="http:www.w3schools.com" target="_blank">w3schools</a> - A great source to learn programming</li>
                    <li><a href="http://www.codepen.io" target="_blank">CodePen</a> - A great source for inspiration</li>
                </ul>
            </div>
        </div>
    </div>
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="container">
        	Site Designed, Built, and Maintained By Jonathon Harrelson. | <a href="{{ site.url }}/sitemap">Site Map</a>  | <a href="{{ site.url }}/credits">Credits</a>
        </div>
	</footer><!-- #colophon -->
</div><!-- #page -->

<script src="{{ site.url}}/js/main.js" type="text/javascript" async></script>
