<nav class="navbar" role="navigation">
  <div class="container-fluid wrapper">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color:#fff;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <!-- Begin Social Nav -->
    <div class="social-nav">
    	<ul>
        	<li class="col-xs-1"><a href="https://www.facebook.com/jonathon.harrelson" target="_blank" title="My Facebook Page"><i class="fa fa-facebook"></i></a></li>
            <li class="col-xs-1"><a href="http://www.twitter.com/MrJHarrelson" target="_blank" title="My Twitter Feed"><i class="fa fa-twitter"></i></a></li>
            <li class="col-xs-1"><a href="https://plus.google.com/+JonathonHarrelson" target="_blank" title="My Google Plus Page"><i class="fa fa-google-plus"></i></a></li>
            <li class="col-xs-1"><a href="https://www.linkedin.com/in/jonathonharrelson" target="_blank" title="My LinkedIn Profile"><i class="fa fa-linkedin"></i></a></li>
            <li class="col-xs-1"><a href="https://instagram.com/daygon2007/" target="_blank" title="My Instagram Pictures"><i class="fa fa-instagram"></i></a></li>
            <li class="col-xs-1"><a href="http://codepen.io/jharrelson/" target="_blank" title="My Playground"><i class="fa fa-codepen"></i></a></li>
            <li class="col-xs-1"><a href="https://github.com/daygon2007" target="_blank" title="My Repository"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
      <!-- End Social Nav -->
      <!-- Start Primary Nav -->
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul id="menu-main-nav" class="nav navbar-nav">
            {% for link in site.navigation %}
                {% assign url = page.url|remove:'index.html' %}
            <li>
                 <a href="{{site.url}}{{link.url}}"  class="{{link.icon}}">{{link.root}}</a>
            </li>
            {% endfor %}
          </ul>
      </div>
      <!-- End Primary Navigaion -->
        <div class="clear"></div>
    </div>
</nav>